SUBSYSTEM=="usb", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="003f", MODE="0660", GROUP="plugdev", RUN="/bin/sh -c 'echo $id >/tmp/test;echo -n $id:1.0 >/sys/bus/usb/drivers/usbhid/unbind'"
